{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "browser": true
  },
  "rules": {
    "max-len": [1, 80, 2, {"ignoreComments": true}],
    "react/jsx-filename-extension": "off",
    "no-unused-vars": "warn",
    "object-curly-newline": "off",
    "arrow-parens": "off",
    "react/jsx-one-expression-per-line": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off"
  }
}
